@media screen and (max-width: 1000px) {
    #about-picture {
        display: none;
    }
}
#header-container {
    padding: 0;
}
#about-body {
    color: #403E29;
    padding: 40px 0 50px 0;
    background-color: #F2F2F2;
    /* background-color: red; */
}
#outter-about-div {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: 50px;
}
#about-container {
    padding: 15px;
}
#inner-about-div {
    text-align: left;
    line-height: 2;
}
#inner-about-div span {
    font-size: 17px;
}
