#header-container {
    padding: 0;
}
#about-body {
    color: #403E29;
    /* padding-top: 40px; */
    background-color: #F2F2F2;
    /* background-color: red; */
}
#inner-about-div {
    text-align: left;
    line-height: 2;
}
#inner-about-div span {
    font-size: 17px;
}
