#careers-body {
    background-color: #F2F2F2;
    padding: 200px 0 250px 0;
}
#careers-container {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
#careers-title {
    color: white;
    background: #C81B01;
}