@media screen and (min-width: 990px) {
    #nav-links-div {
        min-width: 750px;
    }
}

#navbar {
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 0px;
}
#navbar.shadow {
    
}
